extends layout

block content
  h1= title

  form(id='electronicForm', action="/resource/electronic", method="POST")
    div.form-group
        label.electronicAttr(for='category') electronic category :
         input#electronic(type='text', name='category')
    div.form-group
        label.mobileAttr(for='item') electronic item :
         input#model(type='text', name='item')
    div.form-group
        label.mobileAttr(for='price') electronic price :
         input#prize(type='number', name='price')
    input(type="submit")

  script.
    document.forms['electronicForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
