extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let electronicid = toShow._id
    - let category = toShow.category
    - let item = toShow.item
    - let price = toShow.price
    
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{electronicid}
    - let actionid = "/resource/electronic/" + electronicid
    form(id='electronicForm', action= actionid, method="PUT")
      div.form-group
          label.electronicAttr(for='category') electronic category
          input#mobilecompany(type='text', name='category', value= category )
      div.form-group
          label.electronicAttr(for='item') electronic item
          input#item(type='text', name='item', value=item )
      div.form-group
          label.electronicAttr(for='price') electronic price
          input#prize(type='number', name='price', value= price )
      input(type="submit")

  script.
    document.forms['electronicForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
