body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.electronicAttr {
  background-color: aquamarine;
  width: 120px;
}
.data {
  float: right;
}
h1 {
  background-color: yellow;
  color: rgb(255, 255, 255);
}


